In [36]:
#defining the variables
x = 5
y = 7
#sum
print(x + y)
#difference
print(x - y)
#product
print(x * y)

12
-2
35

In [38]:
#setting the array
array = [3, 5, 12, 39, 51]
for i in range(5):
  #decides if its even
  if array[i]%2 == 0:
    print("even")
  #odd
  else:
    print("odd")

odd
odd
even
odd
odd

In [39]:
#defines list1
list1 = [1050, 39, 4]
#sorts the list into least to greatest order
ordered_numbers = sorted(list1)
print(ordered_numbers)

[4, 39, 1050]

In [31]:
#defines z
z = 11
for i in range(10):
  print(z - 1)
  #updates the variable
  z = z - 1

10
9
8
7
6
5
4
3
2
1

In [42]:
#beginning amount
total = 0
#sets the search area up to 100
for num in range(1, 101):
  #decides if it is divisible by 3 or 5
  if num % 3 == 0 or num % 5 == 0:
    total += num
print(total)

2418

In [45]:
#sets the string
string = ["hi", "my", "favorite", "animal", "is", "cats"]
for i in string:
  #searches for even characters
  even = i[1::2]
  print(f"Even characters in {i}: {even}")

Even characters in hi: i
Even characters in my: y
Even characters in favorite: aoie
Even characters in animal: nml
Even characters in is: s
Even characters in cats: as

In [25]:
#sets up string 2
string2 = ["I", "like", "video", "games"]